body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}



.admon {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 87px;
}


main {
  display: flex;
  flex-direction: row;

}

/*menu desplegable del admin*/

.tit-col1 {

  text-align: center;
  font-size: 45px;
  color: #b79c05;
  margin-bottom: 20%;
  display: block;
}

.mov {

  margin-left: 10%;
  width: 20%;
  display: block;
  margin-top: 1.6rem;
  margin-right: 20px;


}

.column1 {

  margin-bottom: 15px;
  width: 100%;
  display: block;



}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');



.select-menu {
  width: 100%;
  margin-bottom: 20px;
  align-items: center;

  display: block;
}

.select-menu .select-btn:hover {
  background: #a5a5a5;
}

.select-menu .select-btn {
  display: flex;
  height: 55px;
  background: #fffefe;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.select-menu .options {
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  /* Fondo con opacidad */
  display: none;

}

.select-menu.active .options {
  display: block;

}

.options .option {

  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
  display: block;
  border-bottom: 2px solid #b5b2b2;
  margin-top: 3px;

}

.options .option:hover {
  background: #b7b7b7;
  border-bottom: 2px solid #828282;
}


.option .option-text {
  font-size: 18px;
  color: #333;
  display: block;
  padding: 10px;
}

/*fin de menu*/

/*Text Area*/

.columna2 {
  margin-top: 4%;
  max-width: 35%;
  max-height: 700px;
  padding: 20px;
  margin-left: 1.5%;
}

::selection {
  color: #ffffff;
  background: #2d354c;
}

.wrapper {

  width: 100%;
  border-radius: 5px;
  padding: 0px 2px 80px 0px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.06);

}

.wrapper h2 {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
}

.wrapper textarea {
  width: 100%;
  max-height: 100px;
  resize: none;
  height: 59px;
  outline: none;
  padding: 15px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  max-height: 330px;
  caret-color: #4671EA;
  border: 1px solid #bfbfbf;
  margin-bottom: 5%;
  background-color: #4c4c4c;
  color: #fdfdfd;
}

textarea::placeholder {
  color: #bdbdbd;
}

textarea:is(:focus, :valid) {
  padding: 20px;
  border: 2px solid #a7a9af;
}

textarea::-webkit-scrollbar {
  width: 0px;
}
/*Fin Text Area*/

/*---------*/
.columna2 {
  width: 400px;
  max-height: 700px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  color: #000000;
  background-color: #000000;
  opacity: 0.9;

}
.columna2 .ubox {
  position: relative;
  opacity: 0.9;
}
.columna2 .ubox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fdfdfd;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
}
.columna2 .ubox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;

}
.columna2 .ubox input:focus~label,
.columna2 .ubox input:valid~label {
  top: -20px;
  left: 0;
  color: #4c4c4c;
  font-size: 12px;
}

/*----------------------------------------------------------*/
.columna3 {

  max-height: 500px;
  margin-top: 2%;
  position: absolute;
  margin-left: 65%;
  width: 35%;
  padding: 15px;
  background: transparent;

}
.columna3 .ubox {
  position: relative;
  opacity: 0.9;
}

.columna3 .ubox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fdfdfd;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
}

.columna3 .ubox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.columna3 .ubox input:focus~label,
.columna3 .ubox input:valid~label {
  top: -20px;
  left: 0;
  color: #4c4c4c;
  font-size: 12px;
}


/*UPLOAD IMG*/

.fil {
  margin-bottom: 10px;
}

.card {
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  background: transparent;

}

.upload-label {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 13px;
  background-color: #545454;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}


/*UPLOAD IMG*/
/*MODO RESPONSIVE*/

@media screen and (max-width: 1240px) {
  .columna3 {
    width: 450px;
    margin-top: 60%;
    margin-left: -65%;
    position: static;
  }
  .columna2 {
    min-width: 40%;
    padding: 20px;
    margin-left: 20%;
    max-height: 700px;
  }
  .wrapper textarea {
    max-height: 250px;
  }
  .select-menu .select-btn {
    width: 100%;
  }
  .mov {
    width: 250px;
    margin-left: 10%;
  }
  .select-menu .select-btn {
    width: 100%;
  }
  .option .option-text {
    padding: 6px;
  }
}
@media screen and (max-width: 890px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .columna2 {
    min-width: 80%;
    padding: 20px;
    margin-left: 10%;
    max-height: 700px;
  }
  .columna3 {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    position: static;
  }
}
@media screen and (max-width: 890px) {
  .tit-col1 {
    margin-left: 70%;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .select-menu {
    margin-right: 3%;
  }
  .select-menu .select-btn{
    font-size: 15px;
  }
  .mov {
    margin: 0 auto;
    margin-bottom: 25%;
    width: 40%;
    margin-left: 1%;
  }
  .column1 {
    position: absolute;
    margin-top: 50px;
    margin-left: 0;
    display: flex;
    z-index: 50;
  }
  .options .option {
    width: 100%;

  }
  .option .option-text {
    font-size: 13px;
    padding: 5px;
  }
}

@media screen and (max-width: 510px) {
  .tit-col1 {
    margin-bottom: 3%;
  }

  .columna3 {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 450px) {
  .tit-col1 {
    margin-left: 50%;
  }
  .column1 {
    position: static;
    margin-top: 50px;
    margin: 10px;
    margin-left: 50%;
    display: block;
    z-index: 0;
  }
  .select-menu .select-btn {
    width: 200px;
  }
  .options .option {
    width: 170px;
  }
  .mov {
    margin: 0 auto;
    margin-bottom: 10%;
    width: 40%;
    margin-left: 0;
  }
}
/*MODO RESPONSIVE*/
/*Btn Editar cabina*/
.edit-button {
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  margin-left: 90%;
  width: 60px;
  font-size: 25px ;
}
.edit-button:hover{
  background-color: #fff;
  color: #272727;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1.05);
}
.edit-button:focus,
.edit-button:active {
  opacity: 0.9;
}
.edit-button:hover:not(:focus) {
  opacity: 0.9;
  filter: brightness(90%);
}
.edit-button {
  transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s;
  border-bottom: none;
}

/*Btn Editar cabina*/

/*Diseño del Boton*/
.columna2 .btn input[type="submit"] {
  transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s;
  border-bottom: none;
  margin-top: 2%;
}

.columna2 .btn input[type="submit"]:hover {
  background-color: #fff;
  color: #272727;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1.05);
}

.columna2 .btn input[type="submit"]:focus,
.columna2 .btn input[type="submit"]:active {
  opacity: 0.9;
}

.columna2 .btn input[type="submit"]:hover:not(:focus) {
  opacity: 0.9;

  filter: brightness(90%);
}

.columna3 .btn input[type="submit"] {

  transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s;
  border-bottom: none;
  margin-top: 20px;
  position: static;



}

.columna3 .btn input[type="submit"]:hover {
  background-color: #fff;
  color: #272727;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1.05);

}

.columna3 .btn input[type="submit"]:focus,
.columna3 .btn input[type="submit"]:active {
  opacity: 0.9;
}

.columna3 .btn input[type="submit"]:hover:not(:focus) {
  opacity: 0.9;

  filter: brightness(90%);
}
/*Fin del Diseño del Boton*/

.selec{
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 13px;
  background-color: #c4c2c2;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 2px;
  color: black;
  border-bottom: none;
  position: static;
}

.selec:hover{
  background-color: #a0a3a4;
  transform: scale(1.05);
  opacity: 0.9;
}
.selec:focus,

.upload-form {
  max-width:400px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  background-color: #000000;
  opacity: 0.9;
  color: white;


}
.upload-form h2{
  color: #ffffff;
  text-align: center;

}
.upload-button {
  float: right;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #0056b3;
}
.uploaded-files {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  max-width: 100%;
  text-align: center;
  /*display: flex; /* Cambio a flex para disposición horizontal */

  /*flex-wrap: nowrap;
  overflow-x: auto; /* Habilita el scroll horizontal */
  /*scroll-behavior: smooth; /* Agrega desplazamiento suave */
  /*-webkit-overflow-scrolling: touch; /* Mejora el rendimiento en dispositivos táctiles */
}

.uploaded-files > div {
  margin-right: 10px; /* Espacio entre las imágenes */
}

/*Diseño del select---------------------------------------------------------------*/

/* Estilo para los elementos select personalizados */
.select2 {
  width: 100%; /* Hacer que el bloque ocupe el 100% del bloque padre para alinear la flecha personalizada correctamente */
  /* Eliminar la flecha del navegador */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-top: 10px;
  /* Definir el fondo y el borde personalizado */
  border: 1px solid #7E9BBD;
  border-radius: 6px;
  background-color: #fff;

  /* Espacios entre el borde y el texto */
  padding: 10px 35px 10px 15px;

  /* Eliminar el contorno predeterminado */
  outline: none;

  cursor: pointer;
}

/* Eliminar la flecha en IE 10 y 11 */
.select2::-ms-expand {
  display: none;
}

/* Al hacer clic - quitar el contorno predeterminado y agregar el nuestro */
.select2:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px #3b3b3b, 0px 0px 10px #2a2a2a;
}

/* Hacer .select-wrapper el elemento principal para posicionar la "flecha" */
.select-wrapper {
  position: relative;
}

/* Dibujar la "flecha" */
.select-wrapper::before {
  content: "";
  position: absolute;
  top: 63%;
  right: 15px;
  transform: translateY(-50%);
  display: block;

  /* Dibujar un triángulo */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: #3f3f3f transparent transparent transparent;

  /* Desactivar la interacción con el triángulo */
  pointer-events: none;
}
.op{
  cursor: pointer;
}
.select2 option {
  background-color: #fff; /* Fondo blanco */
  cursor: pointer;
  color: #333; /* Texto oscuro */
  padding: 10px; /* Espaciado interno */
  font-size: 14px; /* Tamaño de fuente */
}

/* Estilo para los elementos option cuando están seleccionados */
.select2 option:checked {
  background-color: #7E9BBD; /* Fondo en tono azul */
  color: #fff; /* Texto en blanco */
}